<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to the kisan adda</h1>

    <h2>
      sell your product today
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
 <div class="span8 welcome-image">

                      <div id="myCarousel"
                        class="carousel slide">
                        <!-- Carousel items -->
                        <div class="carousel-inner">
                                <div class="active item">
                                        <a href="/static_pages/home"><img src="http://welcome.myrago.com/uploads/1/0/2/3/102372468/602761-518907011476424-1204477393-n_orig.jpg"alt="welcome to kisan adda"> </a>
                                </div>
                                <div class="item">
                                        <a href="/static_pages/home"><img src="https://ak8.picdn.net/shutterstock/videos/23390728/thumb/1.jpg" alt="First slide"> </a>
                                </div>
                        <div class="item">
                          <a href="/static_pages/home"><img src="https://www.thebetterindia.com/wp-content/uploads/2016/05/9421742217_fe6f84e4fe_k.jpg" alt="First slide"> </a>
                                </div>
                                <div class="item">
                                        <a href="/static_pages/home"><img src="https://www.thebetterindia.com/wp-content/uploads/2016/05/7146639785_010939e97b_k.jpg"> </a>
                                </div>
                                <div class="item">
                                       <a href="/static_pages/home"><img src="http://3.bp.blogspot.com/-DMrQjfSg3yA/TkPXW_kfQJI/AAAAAAAAK80/csUuU3yjhBI/s1600/Rice+Farming+HD+Wallpapers+%2811%29.jpg6"> </a>
                                </div>
                        </div>
                        <!-- Carousel nav -->
                        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
                </div>
<% end %>